:root {
    --font-size: 16px;
    --margin-size: calc(10em / 16);
    --border-width: calc(1em / 16);
}

html {
    --body-color: #fff;
    --background-color: #fafafa;
    --foreground-color: #222;
    --border-color: #aaa;
}

html.dark {
    --body-color: #111;
    --background-color: #222;
    --foreground-color: #ddd;
    --border-color: #444;
}

body {
    font-size: var(--font-size);
    background: var(--body-color);
}

#container {
    margin: var(--margin-size);
}

#controls {
    margin: var(--margin-size) 0;
}

#controls button {
    width: 2.5em;
    padding: 0.125em 0.3125em;
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    color: var(--foreground-color);
}

#controls #start-button {
    border-color: #207d20;
}

#controls #step-button {
    border-color: #3964a5;
}

#controls #stop-button {
    border-color: #6c1688;
}

#controls #clear-button {
    border-color: #822020;
}

#grid {
    border-spacing: 0;
    border-collapse: collapse;
}

#grid td {
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    color: var(--foreground-color);
}

#grid td.active {
    background: var(--foreground-color);
    color: var(--background-color);
}

#grid td i {
    width: 1.2em;
    height: 1.2em;
    margin: 0.2em 0.1em 0;
    text-align: center;
    vertical-align: middle;
}

#output {
    width: calc(39em - 2 * var(--margin-size)); /* still wrong! */
    margin: var(--margin-size) 0;
    padding: var(--margin-size);
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    color: var(--foreground-color);
}

#output pre {
    margin: 0;
}
