#container {
    margin: 10px;
}

#controls {
    margin-bottom: 10px;
}

#grid td {
    background: #fafafa;
    border: 1px solid #ccc;
}

#grid td.active {
    background: #ffeba4;
}

#grid td i {
    width: 18px;
    height: 20px;
    padding: 1px 2px;
    text-align: center;
    vertical-align: middle;
}
