:root {
    --font-size: 16px;
    --icon-size: var(--font-size);
    --glyph-size: 20px;
    --margin-size: 10px;
    --border-width: 1px;
    --body-color: #fff;
    --background-color: #fafafa;
    --foreground-color: #222;
    --border-color: #aaa;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --neutral-color-red: #822020;
    --neutral-color-yellow: #91921a;
    --neutral-color-green: #207d20;
    --neutral-color-blue: #3964a5;
    --neutral-color-purple: #6c1688;
    --font-family-sans-serif: 'Lato', sans-serif;
    --font-family-monospace: 'Lucida Sans Typewriter', monospace;
}

i.fa {
    font-size: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}

.dark-theme {
    --body-color: #111;
    --background-color: #222;
    --foreground-color: #ddd;
    --border-color: #444;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size);
    color: var(--foreground-color);
    background: var(--body-color);
}

p {
    margin: 0.8em 0;
}

h3 {
    margin: 1em 0 0.5em;
}

a,
a:visited {
    color: var(--neutral-color-blue);
}

#editor-container {
    padding: var(--margin-size);
}

.controls label {
    margin-left: var(--margin-size);
}

.controls button {
    width: 40px;
    padding: 2px 5px;
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    color: var(--foreground-color);
}

.controls button {
    width: 40px;
    padding: 2px 5px;
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    color: var(--foreground-color);
}

.controls button:active,
.controls button.active {
    --offset-size: 1px;
    box-shadow: inset var(--offset-size) var(--offset-size) 0 var(--shadow-color);
}

.controls button:active i.fa,
.controls button.active i.fa {
    transform: translate(var(--offset-size), var(--offset-size));
}

#fast-button {
    border-color: var(--neutral-color-yellow);
}

#start-button {
    border-color: var(--neutral-color-green);
}

#step-button {
    border-color: var(--neutral-color-blue);
}

#stop-button {
    border-color: var(--neutral-color-purple);
}

#clear-button {
    border-color: var(--neutral-color-red);
}

.glyph-grid {
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.glyph-grid td {
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    color: var(--foreground-color);
}

.glyph-grid td.active {
    background: var(--foreground-color);
    color: var(--background-color);
}

.glyph-grid td i {
    width: var(--glyph-size);
    height: var(--glyph-size);
    margin: 1px 1px -1px;
    text-align: center;
    vertical-align: middle;
}

#editor-grid {
    margin: var(--margin-size) 0 0 0;
}

#selector-container {
    --offset-size: 2px;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: var(--offset-size) var(--offset-size) 0 var(--shadow-color);
}

#selector-grid {
    --border-color: var(--foreground-color);
}

#console {
    margin: var(--margin-size) 0 0 0;
    padding: var(--margin-size);
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    font-family: var(--font-family-monospace);
}

#console-out {
    margin: 0;
}

#modal-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

body.modal-open #modal-container {
    display: block;
}

.modal {
    position: relative;
    width: 600px;
    margin: 44px auto;
    padding: var(--margin-size);
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
}

.modal .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    text-align: center;
    line-height: 0;
    cursor: pointer;
}

.modal .close-button:active {
    color: var(--neutral-color-red);
}

#help-modal h3 {
    margin-top: 0;
}

.close-button i.fa {
    line-height: 1;
}

.programs {
    margin: var(--margin-size) 0;
    padding-left: 1.5em;
}

.glyphs {
    margin: 0;
}

.glyphs .group {
    --inner-margin-size: calc(var(--margin-size) / 2);
    padding: var(--inner-margin-size) 0;
}

.glyphs .group:not(:first-child) {
    border-top: 1px solid var(--border-color);
}

.glyphs dt {
    --icon-size: 24px;
    float: left;
    padding: var(--inner-margin-size);
}

.glyphs dd {
    padding-right: var(--inner-margin-size);
}

.glyphs .alias {
    font-family: var(--font-family-monospace);
}
